flask=1.1.2
matplotlib=3.3.2=haa95532_0
matplotlib-base=3.3.2=py38hba9282a_0
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
pandas=1.2.1=py38hf11a4ad_0
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy=1.19.2=py38hadc3359_0
numpy-base=1.19.2=py38ha3acd2a_0
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
scikit-learn=0.23.2=py38h47e9c7a_0
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
gunicorn=20.0.4=pypi_0
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
werkzeug=1.0.1=pyhd3eb1b0_0
